.myBooking {
  width: 80%;
  margin: 3% 10% 10% 10%;
  color: white;
}

.myBooking > h1 {
  margin-bottom: 3%;
}

.schedule-list {
  /* display: flex; */
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.2);
}

.schedule-list > h3 {
  color: #525252;
  width: 80%;
  margin: 0% 10% 0% 10%;
}

.schedule-list > h2 {
  color: #525252;
  margin: 3%;
}

.schedule-list-1 {
  overflow: auto;
  text-align: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.5);
  /* height: 500px; */
}

.schedules-lastest {
  position: relative;
  display: flex;
  margin: auto;
  width: 90%;
  height: 70px;
  border-radius: 20px;
}

.upcoming-schedules {
  margin-left: 50px;
  margin-top: 50px;
}

.schedules {
  position: relative;
  display: flex;
  margin: auto;
  width: 90%;
  height: 70px;
  /* background-color: aqua; */
}

.Date {
  font-size: 2rem;
  position: absolute;
  bottom: 12px;
  left: 0px;
}

.block {
  width: 6px;
  background-color: #525252;
  margin-left: 120px;
}

.roomNum {
  font-weight: bold;
  color: #00c2ff;
  font-size: 1.5rem;
  margin: 0% 2% 0% 0%;
  position: absolute;
  bottom: 0;
  left: 150px;
}

.time {
  font-weight: bold;
  color: #6b6b6b;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 250px;
}

.participants {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 400px;
}

.viewButton {
  width: 80px;
  background-color: #00c2ff;
  color: white;
  border-radius: 40px;
  border: 0px;
  padding: 0.5% 1.5% 0.5% 1.5%;
  transition: 0.5s;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0;
  left: 500px;
}

.cancelButton {
  width: 100px;
  background-color: #737576;
  color: white;
  border-radius: 40px;
  border: 0px;
  padding: 0.5% 1.5% 0.5% 1.5%;
  transition: 0.5s;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0;
  left: 600px;
}

.switchUser {
  width: 120px;
  margin-right: 20px;
  background-color: transparent;
  color: white;
  border-radius: 40px;
  padding: 0.5% 1.5% 0.5% 1.5%;
  border: 1px solid #00c2ff;
  transition: 0.5s;
}

.switchUser:hover {
  background-color: #00c2ff;
}

.newBooking {
  background-color: transparent;
  color: #525252;
  border-radius: 40px;
  padding: 0.5% 1.5% 0.5% 1.5%;
  border: 1px solid #00c2ff;
  transition: 0.5s;
}

.newBooking:hover {
  background-color: #00c2ff;
  color: white;
}

@media (max-width: 1020px) {
  .block {
    margin-left: 100px;
  }
  .Date {
    font-size: 1.7rem;
  }
  .roomNum {
    font-size: 1.3rem;
    left: 120px;
  }
  .time {
    font-size: 1.3rem;
    left: 220px;
  }
  .participants {
    left: 350px;
  }
  .viewButton {
    left: 450px;
  }
  .cancelButton {
    left: 550px;
  }
}

@media (max-width: 930px) {
  .block {
    margin-left: 80px;
  }
  .Date {
    font-size: 1.5rem;
  }
  .roomNum {
    font-size: 1.1rem;
    left: 100px;
  }
  .time {
    font-size: 1.1rem;
    left: 200px;
  }
  .participants {
    left: 300px;
  }
  .viewButton {
    left: 400px;
  }
  .cancelButton {
    left: 500px;
  }
}

@media (max-width: 930px) {
  .block {
    margin-left: 80px;
  }
  .Date {
    font-size: 1.5rem;
  }
  .roomNum {
    font-size: 1.1rem;
    left: 100px;
  }
  .time {
    font-size: 1.1rem;
    left: 200px;
  }
  .participants {
    left: 300px;
  }
  .viewButton {
    left: 400px;
  }
  .cancelButton {
    left: 500px;
  }
}
